 .root{
        -fx-background-image: url("https://images5.alphacoders.com/648/648569.jpg");
        -fx-background-size: 100% 100%;
    }
 Button{
     -fx-text-fill: WHITE;
     -fx-content-display: CENTER;
     -fx-background-color:DARKSLATEGREY;
     /*-fx-background-image:  ;*/
}
 Button:hover{
     -fx-background-color: White, -fx-outer-border, -fx-inner-border, Purple;
     -fx-background-insets: 0 0 -1 0, 0, 1, 2;
     -fx-background-radius: 3px, 3px, 2px, 1px;
     -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
     -fx-text-fill: White;
     -fx-alignment: CENTER;
 }